@media screen and ( max-width:480px ) {
  #article-header {
    padding-bottom: 30px;
  }

  li.created {
    margin-top: 20px;
  }

  #clip-div {
    margin-top: 50px;
    width: 90%;
  }

  #clip-link {
    width: 100%;
  }

}