/** スマホ用のスタイル **/
@media screen and ( max-width:479px )
{
  /*body {*/
    /*position: absolute;*/
  /*}*/

  #header #right {
    display: none;
  }

  #nav #right {
    display: block;
    position: absolute;
    top: 2px;
    right: 5px;
    margin: 0;
  }

  #content {
    width: 450px;
  }

  #nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
  }

  #nav-ul {
  }

  #nav-ul li {
    float: left;
    border: none;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
  }

  #nav-ul p {
    display: none;
  }

  #head-dropdown {
    z-index: 1000;
    top: 200px;
    right: 100px;
  }

  #header {
    position: absolute;
    top: 50px;
    height: 50px;
    width: 100%;
    z-index: 2;
  }

  #header .fa-search {
    left: 40px;
  }

  #search-text-box {
    width: 75%;
    margin-left: 6.25%;
  }

  #search-text-box:focus {
    width: 75%;
  }

  #content {
    margin-top: 120px;
    padding: 0 3%;
    width: 94%;
  }

  #article-list > ul > li {
    border-bottom:none;
  }

  #article-list .right {
    width: 290px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 0;
    float: right;
  }

  #article-list img {
    width: 50px;
    height: 50px;
    /*float:left*/
  }

  /*#article-list .right {*/
    /*margin-left: 15px;*/
    /*float: left;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  /*}*/

  #article-list .created {
    display:none;
  }
}
